:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fcdcdf;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes moveAround {
  0% {
    transform: translate(10vw, 10vh);
  }
  25% {
    transform: translate(80vw, 20vh);
  }
  50% {
    transform: translate(40vw, 80vh);
  }
  75% {
    transform: translate(20vw, 40vh);
  }
  100% {
    transform: translate(10vw, 10vh);
  }
}

.moving-background {
  position: fixed;
  width: 200px; /* 調整大小 */
  height: 200px;
  animation: moveAround 15s linear infinite alternate; /* 隨機移動 */
  /* z-index: -1; 確保圖片位於背景，不影響其他元素 */
}
